@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Apply Poppins font family to all the html elements */
* {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*====================== Customized Scroll bar ======================*/
::-webkit-scrollbar {
    width: 8px;
    /*background: #A8A8A8;*/
    background: #2f2b2b;
}

::-webkit-scrollbar-thumb {
    background: #7461E2;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* ----- */
    background: transparent;
}

body > main {
    margin-top: 73px;
}

/*====================== Header Section ======================*/
body > header {
    position: fixed;
    background: #fafaff;
    width: 100%;
    height: 73px;
    top: 0;
    z-index: 3;
    /*box-shadow: 0 -1px 8px 2px #1c1717e8;*/
}

body > header > div {
    position: relative;
    left: 90px;
    top: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    display: inline-block;
}

body > header > div > h2 {
    /*font-weight: var(--font-regular);*/
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

body > header > div > h2:hover {
    color: #7461E2;
}

body > header > nav {
    position: absolute;
    right: 68px;
    top: 0;
}

body > header > nav > menu > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

body > header > nav > menu > li a {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}

body > header > nav > menu > li a:hover {
    color: #7461E2;
}

body > header > nav > menu > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #7461E2;
    border-radius: 26%;
    transition: width .3s;
}

body > header > nav > menu > li:first-child > a {
    color: #7461E2;
}

body > header > nav > menu > li:first-child > a::after {
    content: '';
    display: block;
    width: 43%;
    height: 5px;
    background-color: #7461E2;
    border-radius: 26%;
    transition: width .3s;
}

body > header > nav > menu > li > a:hover::after {
    width: 43%;
    transition: width .3s;
}

/*====================== scroll button ======================*/

#scroll_up_btn {
    position: fixed;
    opacity: 0.8;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #7461E2;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: all 0.4s;
}

#scroll_up_btn:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

#scroll_up_btn > i {
    font-size: 19px;
    color: #fff;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
}

/*====================== mobile view menu button ======================*/

#btn-burger {
    display: none;
}

#btn-burger > #burger {
    font-size: 20px;
    color: #7461E2;
}

/*====================== media query for header ======================*/